 <!DOCTYPE HTML>
 <HTML>
 
  <head>
  
	  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  
   <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
   <style type="text/css">

button{
font-family: 'Poppins', sans-serif;
 
}
body{
 font-family: 'Poppins', sans-serif;	
}

nav{
 flex:1;
}

.bg-light{
 background-color: #d4fdff !important;
}
 
   
  </style>  
   <style type="text/css">
</style>
</head>
   <body>
<div th:fragment="myfooter">
<!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5" style="background-color:#d4fdff !important">


  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3 dark-grey-text">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold" style="margin-top:5%">SmarTech</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Site e-commerce de produits éléctroniques</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold" style="margin-top:5%">Products</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">

          <p class="dark-grey-text">PCs</p>

          <p class="dark-grey-text">Tablettes</p>

          <p class="dark-grey-text">Smartphones</p>

          <p class="dark-grey-text">Et bien d'autres...</p>

      </div>
      <!-- Grid column -->



      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold" style="margin-top:5%">Contact</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-home mr-3"></i> Rabat, 10000, Maroc</p>
        <p>
          <i class="fas fa-envelope mr-3"></i> info@example.com</p>
        <p>
          <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
        <p>
          <i class="fas fa-print mr-3"></i> + 01 234 567 89</p>

      </div>
      <!-- Grid column -->
	  
	        <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold" style="margin-top:5%">Get connected with us on social networks!</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
		<a href="#" class="fb-ic">
            <i class="fab fa-facebook-f white-text mr-4"> Facebook </i>
          </a>
		  </p>
          <!-- Twitter -->
		  <p>
          <a href="#" class="tw-ic">
            <i class="fab fa-twitter white-text mr-4"> Twitter </i>
          </a>
        </p>
        <p>
          <a href="#" class="ins-ic">
            <i class="fab fa-instagram white-text"> Instagram </i>
          </a>
		  </p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center text-black-50 py-3" style="background-color:#E5E5E5">© 2020 Copyright:
    <a class="dark-grey-text" href="smartech"> SmarTech.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

</div>
</body>
<html>